# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/web/build/
/mobile/android/app/build/
/mobile/android/build/
/mobile/ios/build/
/mobile/ios/DerivedData/

# Environment files
.env
.env.local
.env.*.local
!.env.example
!**/.env.example

# Testing / Coverage
coverage/
/web/coverage/
/mobile/coverage/

# Misc
.DS_Store
Thumbs.db
*.log

# IDE
.idea/
.vscode/
.history/
*.swp
*.swo

# Android
.gradle/
local.properties
*.jks
!debug.keystore
.kotlin/
*.iml
*.hprof
.cxx/

# iOS / Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
**/Pods/
/vendor/bundle/

# React Native
*.jsbundle
.metro-health-check*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Firebase
**/GoogleService-Info.plist
**/google-services.json

# Generated
/mobile/src/env.generated.ts
